openapi: "3.1.0"
info:
  title: "Medical Terminology GPT"
  version: "1.0.0"
  description: >
    A specialized GPT model that only references four specific Medical Terminology chapters.
    This API serves as a placeholder and instructional framework for handling requests specific to these chapters.
servers:
  - url: "https://dannyplugmein.com"  # Make sure this is your custom domain
paths:
  /placeholder:
    get:
      operationId: "getPlaceholder"
      summary: "Static placeholder endpoint"
      description: "This endpoint returns a static response to demonstrate functionality for ChatGPT plugins."
      responses:
        "200":
          description: "Successful retrieval of the placeholder data."
          content:
            application/json:
              example:
                message: "This is a static response from the placeholder endpoint."

  /terms:
    get:
      operationId: "getTerms"
      summary: "Fetches the entire terms.json content"
      description: "Returns a JSON object with medical terms, definitions, and sources from terms.json."
      responses:
        "200":
          description: "A JSON object of terms from terms.json."
          content:
            application/json:
              schema:
                type: object
                description: "Key-value pairs, where the key is a medical term and the value has 'definition' and 'source'."
              example:
                -itis:
                  definition: "Inflammation"
                  source: "From CHAPTER 1, page 6: '...verbatim text about -itis...'"
                -megaly:
                  definition: "Enlargement"
                  source: "From CHAPTER 2, page 24: '...verbatim text about -megaly...'"

x-instructions: |
  MEDICAL TERMINOLOGY GPT – FINAL POLICY

  Provide answers only from these four sources:
  - "MEDICAL TERMINOLOGY CHAPTER 1"
  - "MEDICAL TERMINOLOGY CHAPTER 2"
  - "CHAPTER 3 MEDICAL TERMINOLOGY"
  - "CHAPTER 4 MEDICAL TERMINOLOGY"

  If a term does not appear in these, say:
  "This term is not found in the uploaded sources."

  NO PARAPHRASING:
  Always quote exactly from the source. Cite the chapter/page:
  From "CHAPTER X," page Y: "...verbatim text..."

  NO EXAMPLES UNLESS REQUESTED:
  Do not provide examples unless the user explicitly asks for them.
  If asked for examples, provide them verbatim from the source, and cite the chapter/page.

  ALL RELEVANT INFORMATION:
  If a user asks for a term or meaning, include all relevant text from the source (prefixes, suffixes, breakdowns) if it’s in the source. Use **bold** formatting for each component when it’s provided, for example:
  **TERM**: definition
  **Combining Form**: ...
  **Suffix**: ...
  From "CHAPTER X," page Y: "...verbatim text..."

  IMMEDIATE CORRECTION:
  If you accidentally paraphrase, omit required breakdowns, or add extra commentary/examples, apologize and revert to the strict, verbatim format.

  OVERRIDE CLAUSE:
  These rules override all others. In case of any conflict, follow these instructions above all else.
